.editFeedback-wrapper {
    display: flex;
    justify-content: center;
}

.editFeedback-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem 1rem;
}

.back {
    margin-bottom: 3rem;
    cursor: pointer;
}

.back p {
    font-weight: 700;
    font-size: 0.85rem;
}

.back p:hover .fa-chevron-left {
    font-size: 0.9rem;
}

.fa-chevron-left {
    font-size: 0.7rem;
    font-weight: bold;
    margin-right: 10px;
    color: #4158D0;
    transition: all 0.3s ease;
}

.editFeedback-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 2rem 2rem 2rem;
}

.editFeedback-form h1 {
    background-color: #4158D0;
    background-image: linear-gradient(45deg, #4158D0 0%, #C850C0 100%);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 15px 27px 15px 27px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: 10px;
}

.editFeedback-form h2 {
    margin-top: 1rem;
}

.editFeedback-form label {
    color: #3a4374;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 2rem;
}

.editFeedback-form input,
.editFeedback-form select,
.editFeedback-form textarea {
    background-color: #ebecf7;
    padding: 15px;
    outline: transparent;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.editFeedback-form input:nth-of-type(2) {
    height: 10rem;
}

.editFeedback-form input:focus,
.editFeedback-form select:focus,
.editFeedback-form textarea:focus {
    outline: solid 1px #4661e6;
}

.editFeedback-form p {
    font-size: 0.9rem;
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.btn-cancel,
.btn-add,
.btn-delete {
    color: #fff;
    padding: 15px 18px;
    border-radius: 10px;
    transition: all .3s ease;
}

.btn-cancel {
    background-color: #4661e6;
}

.btn-cancel:hover {
    background-color: #667be2;
}

.btn-add {
    background-color: #ad1fea;
}

.btn-add:hover {
    background-color: #b253db;
}

.btn-delete {
    background-color: #d73737;
}

.btn-delete:hover {
    background-color: #d84e4e;
}