.progress-task {
    background-color: #fff;
    margin: 1.5rem 0;
    border-top: solid 5px #AD1FEA;
    border-radius: 10px;
    padding: 2rem;
    transition: all 0.4s ease;
}

.progress-task:hover {
    transform: scale(1.015);
}

.progress-task p:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.85rem;
}

.progress-task p .fa-circle {
    color: #AD1FEA;
}

.progress-task h5 {
    margin: 1rem 0;
}

.progress-task p:nth-child(3) {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.feedback-upvote-roadmap {
    background-color: #f2f4ff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.feedback-upvote-roadmap:hover {
    background-color: #aab5f5;
}

.feedback-upvote-roadmap:hover .upvote {
    background-color: #aab5f5;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.stats p:nth-child(1) {
    background-color: #aab5f5;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 7px;
    font-weight: 600;
    font-size: 0.8rem;
}

